services:
  kowalski:
    build: .
    container_name: kowalski
    ports:
      - "3000:3000"
    volumes:
      - ./.env:/usr/src/app/.env:ro
      - ./telegram/props/lastfm.json:/usr/src/app/telegram/props/lastfm.json
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    depends_on:
      - postgres
      - ollama
  ollama:
    image: ollama/ollama
    container_name: kowalski-ollama
    volumes:
      - ./ollama:/root/.ollama
  postgres:
    image: postgres:17
    container_name: kowalski-postgres
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=kowalski
      - POSTGRES_PASSWORD=kowalski
      - POSTGRES_DB=kowalski