[Unit]
Description=TelegramBot
After=network.target

[Service]
ExecStart=/usr/bin/bun start
WorkingDirectory=/home/%u/TelegramBot
Restart=always
User=%u
Environment="PATH=/usr/bin:/usr/local/bin"

[Install]
WantedBy=multi-user.target
