[Unit]
Description=TelegramBot
After=network.target

[Service]
ExecStart=bash -c 'source $HOME/.profile && (command -v bun &> /dev/null && exec bun start || exec npm start)'
WorkingDirectory=/home/%u/TelegramBot
Restart=always
User=%u

[Install]
WantedBy=multi-user.target
